// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.mzlp-builder {
}

#btn_settings_OK, #btn_lang_Cancel, #btn_lang_OK, #btn_detail_OK,#btn_detail_Cancel{
    width:120px;
    font-size:large;
    margin : 5px;
}
.langList{
    font-size:large;
}
.langSelectView {
  text-align: center;
}
.SelectDetailView{
  text-align: center;
  overflow-y:auto;
}
.input-text.filename{
  width:40%;
  float:left;
}
.input-text.args{
  width:10%;
  float:left;
}
.input-text.copyto{
  width:35%;
  float:left;
}
.buildbutton{
  width:15%;
  float:left;
}
.lineofcontent{
  margin:10px;
}